<html>
<head>

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<style>
    body {
        margin: 30px;
    }
</style>
</head>
<body>
<h1>Neuraltalk</h1>
<ul>
    <li>Training Datasets
        <ul style="list-style: none;">
            <li>
                {% if datasets %}
                    <br>
                    Downloaded datasets:
                    <ul>
                    {% for ds in datasets %}
                        <li>{{ ds }}</li>
                    {% endfor %}
                    </ul>
                    <br>
                    Download more:
                    <br>
                {% endif %}
                <form action="/download/">
                    <select name="dataset" id="download">
                        {% for ds in for_download %}
                        <option value="{{ ds }}">{{ ds }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit">Download</button>
                </form>
            </li>
            <br>
            {% if task_id %}
                
                <p>Download of {{ dataset }} dataset is in progress...</p>
                <div id="pct" style="font-size: 30px;">0%</div>
                <script>
                    $('form').hide();
                    (function poll() {
                        setInterval(function(){
                            $.get("/download_status/?id={{ task_id }}", function(d){
                                $("#pct").html(d + '%');
                                if (d == "100") {
                                    clearInterval();
                                    window.location = "/";
                                }
                            })
                        }, 3000);
                    })();
                </script>
            {% endif %}
            <div>
        </ul>
    </li>
    {% if not task_id %}
        <li>
            <a href="/train/">
            Execute Training
            </a>
        </li>
        <li>
            <a href="/monitor/">
            Status Monitoring
            </a>
        </li>
        <li>
            <a href="/results">
            View Results
            </a>
        </li>
    {% endif %}
</ul>
</body>
</html>
